---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
const allPosts = await getCollection("posts");
const pageTitle = "Writing • Eduardo Sasso";

const getLastModified = (pubDate) => {
  return dayjs.utc(pubDate).format("DD MMM YYYY");
};

---

<BaseLayout pageTitle={pageTitle}>
  <h1>Writing</h1>
  <ul class="pl-0">
    {
      allPosts.map((post) => (
        <li class="list-none">
          <span class="mr-2 text-sm">{getLastModified(post.data.updated)}</span>
          <a href={post.slug} class="text-lg">{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
